<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aye_pet">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.ReferFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DonationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyPetListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PetProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdatePetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdateUserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetpasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>